<app-header></app-header>
<section class="hero hero-normal">
  <div class="container">
    <div class="row">
      <div class="col-lg-3">
        <div class="hero__categories">
          <div class="hero__categories__all">
            <i class="fa fa-bars"></i>
            <span>Thể loại</span>
          </div>
          <ul>
            <li *ngFor="let category of listCategory"><a
              [routerLink]="['../category',category.id]">{{category.name}}</a></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-9">
        <div class="hero__search">
          <div class="hero__search__form">
            <form [formGroup]="searchForm" (ngSubmit)="search()">
              <div class="hero__search__categories">
                Tất cả
                <span class="arrow_carrot-down"></span>
              </div>
              <input type="text" placeholder="Bạn muốn thuê HomeStay ở đâu?" formControlName="name">
              <button type="submit" class="site-btn">TÌM KIẾM</button>
            </form>
          </div>
          <div class="hero__search__phone">
            <div class="hero__search__phone__icon">
              <i class="fa fa-phone"></i>
            </div>
            <div class="hero__search__phone__text">
              <h5>0396355470</h5>
              <span>Hỗ trợ 24/7</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="breadcrumb-section set-bg" [style.background]="'url(../../../assets/static/img/anh1.jpg)'">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <div class="breadcrumb__text" *ngIf="currentHouse != null">
          <h2>{{currentHouse.name}}</h2>
          <div class="breadcrumb__option">
            <a routerLink="/">Trang chủ</a>
            <a routerLink="/">{{currentHouse.category.name}}</a>
            <span>{{currentHouse.name}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="product-details spad" *ngIf="currentHouse != null">
  <div class="container">
    <div
      style="width: 100%; text-align:center;margin:0; padding:0;">
      <ng-image-slider #nav
                       [images]="imageObject"
                       [infinite]="true"
                       [autoSlide]="1"
                       [imageSize]="{width: '25%', height: 200}"
                       slideImage="1"></ng-image-slider>
    </div>
    <div class="row">
      <div class="col-lg-8 col-md-6">
        <div class="product__details__pic">
          <div class="product__details__pic__item">
            <img class="product__details__pic__item--small" *ngIf="currentHouse.images!=null"
                 [src]="currentHouse.images[0].link" alt="" style="height: 140%">
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6" style="padding-left: 30px;padding-right: 30px;">
        <div class="product__details__text">
          <h3 *ngIf="currentUser">{{currentHouse.name}}<a [routerLink]="['/favorite', { id:currentHouse.id }]"
                                                          class="heart-icon"><span
            class="icon_heart_alt"></span></a></h3>
          <div class="rating" style="margin-bottom: 10px">
            <span><i class="fas fa-star mr-2 {{starAverage>=1?'rated':'unrated'}}"></i></span>
            <span><i class="fas fa-star mr-2 {{starAverage>=2?'rated':'unrated'}}"></i></span>
            <span><i class="fas fa-star mr-2 {{starAverage>=3?'rated':'unrated'}}"></i></span>
            <span><i class="fas fa-star mr-2 {{starAverage>=4?'rated':'unrated'}}"></i></span>
            <span><i class="fas fa-star mr-2 {{starAverage==5?'rated':'unrated'}}"></i></span>
            <span>({{listReview.length}} reviews)</span>
          </div>
          <h5 *ngIf="currentHouse.discount!=0" style="margin-bottom: 10px; color: red">Giảm {{currentHouse.discount}}%
            tiền thuê từ chủ nhà
          </h5>
          <div class="product__details__price">{{currentHouse.price}} ( VNĐ / Ngày)</div>
          <p style="margin-bottom: 10px"><b>Địa chỉ:</b> {{currentHouse.address}}</p>
          <p style="margin-bottom: 0px"><b>Số lượt thuê:</b> {{currentHouse.numberHires}} lượt</p>
          <ul style="margin-top: 0px; padding-top: 0px">
            <li><b>Trạng thái</b> <span>{{currentHouse.status == true ? "Còn trống" : "Đã đặt"}}</span></li>
            <li><b>Diện tích</b><span>{{currentHouse.acreage}}m²</span></li>
            <li><b>Thể loại</b><span>{{currentHouse.category.name}}</span></li>
            <li><b>Số lượng phòng</b> <span>{{currentHouse.numberRoom}}</span></li>
            <li><b>Tiện ích có sẵn</b>
              <div *ngFor="let utilitie of currentHouse.utilitie">
                <div class="row">
                  <span class="col-6"></span>
                  <span class="col-6"> - {{utilitie.name}} </span>
                </div>
              </div>
            </li>
            <li><b>Thông tin chủ nhà</b>
              <div>
                <span>Họ và tên : {{currentHouse.user.fullName}}</span>
                <div>
                  <span>Email : {{currentHouse.user.email}}</span>
                </div>
                <div>
                  <span
                    *ngIf="currentHouse.user.telephoneNumber">Số điện thoại : {{currentHouse.user.telephoneNumber}}</span>
                </div>
              </div>
            </li>
          </ul>
        </div>
        <button *ngIf="currentUser && currentHouse.user.id!==currentUser.id" (click)="createMessage()"
                [routerLink]="['/checkout']"
                style="margin-top: 25px;width: 100%;background: #7fad39;"
                class="site-btn">Đặt thuê
        </button>
        <button *ngIf="!currentUser" [routerLink]="['../../login']"
                style="margin-top: 25px;width: 100%;background: #7fad39;"
                class="site-btn">Đặt thuê
        </button>
      </div>
      <div class="col-lg-12">
        <div class="product__details__tab">
          <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" data-toggle="tab" href="#tabs-1" role="tab"
                 aria-selected="true">Mô tả</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#tabs-3" role="tab"
                 aria-selected="false">Đánh giá <span>({{listReview.length}})</span></a>
            </li>
          </ul>
          <div class="tab-content">
            <div class="tab-pane active" id="tabs-1" role="tabpanel">
              <div class="product__details__tab__desc">
                <h6><b>Giới thiệu về {{currentHouse.name}} </b></h6>
                <p [innerHTML]="currentHouse.description"></p>
              </div>
            </div>
            <div class="tab-pane" id="tabs-3" role="tabpanel">
              <h5>Đánh giá HomeStay</h5>
              <div class="product__details__tab__desc" *ngIf="listReview.length != 0">
                <div class="post" *ngFor="let review of listReview | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize;
                      let i = index">
                  <div class="user-block">
                    <img class="img-circle img-bordered-sm" [src]="review.user.avt" alt="user">
                    <span class="username" *ngIf="review.user != null">
                          {{review.user.email}}
                        </span>
                    <span class="description">{{review.startDate | date: 'dd/MM/yyyy'}}</span>
                    <span><i class="fas fa-star mr-2 {{review.evaluate>=1?'rated':'unrated'}}"></i></span>
                    <span><i class="fas fa-star mr-2 {{review.evaluate>=2?'rated':'unrated'}}"></i></span>
                    <span><i class="fas fa-star mr-2 {{review.evaluate>=3?'rated':'unrated'}}"></i></span>
                    <span><i class="fas fa-star mr-2 {{review.evaluate>=4?'rated':'unrated'}}"></i></span>
                    <span><i class="fas fa-star mr-2 {{review.evaluate==5?'rated':'unrated'}}"></i></span>
                  </div>
                  <br>
                  <!-- /.user-block -->
                  <p [innerHTML]="review.comment"></p>
                </div>
              </div>
              <div class="col-12" style="display: flex; justify-content: center;align-items: center">
                <ngb-pagination *ngIf="listReview.length>10"
                                [ellipses]="true" [rotate]="true"
                                [boundaryLinks]="true" [(page)]="page"
                                [pageSize]="pageSize"
                                [collectionSize]="this.listReview.length"></ngb-pagination>
              </div>
              <div class="product__details__tab__desc" *ngIf="listReview.length==0">
                <p>Chưa có đánh giá nào</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="related-product">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="section-title related__product__title">
          <h2>Các HomeStay tương tự</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3 col-md-4 col-sm-6" *ngFor="let house of relatedHouses">
        <div class="product__discount__item">
          <div class="product__discount__item__pic set-bg" *ngIf="house.images != null"
               [style.background]="'url('+house.images[0].link+')'" style="background-size: 270px 270px">
            <div *ngIf="house.discount!=0" class="product__discount__percent">-{{house.discount}}%</div>
            <ul class="product__item__pic__hover">
              <li><a [routerLink]="['/favorite', { id:house.id }]"><i class="fa fa-heart"></i></a></li>
              <li><a href="#"><i class="fa fa-retweet"></i></a></li>
              <li>
                <a [routerLink]="['../../house',house.id]"><i class="fa fa-info-circle"></i></a>
              </li>
            </ul>
          </div>
          <div class="product__discount__item__text">
            <span>{{house.category.name}}</span>
            <h5>{{house.name}}</h5>
            <h5>{{house.address}}</h5>
            <div
              class="product__item__price">
              <h5 style="font-weight: bold; color: red">{{house.price - house.price * (house.discount / 100)}}( VNĐ /
                Ngày)</h5>
              <span *ngIf="house.discount!=0">{{house.price}}( VNĐ / Ngày)</span></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>
