<app-header></app-header>
<section class="hero hero-normal">
  <div class="container">
    <div class="row">
      <div class="col-lg-3">
        <div class="hero__categories">
          <div class="hero__categories__all">
            <i class="fa fa-bars"></i>
            <span>Thể loại</span>
          </div>
          <ul>
            <li *ngFor="let category of listCategory"><a
              [routerLink]="['../category',category.id]">{{category.name}}</a></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-9">
        <div class="hero__search">
          <div class="hero__search__form">
            <form [formGroup]="searchForm" (ngSubmit)="search()">
              <div class="hero__search__categories">
                Tất cả
                <span class="arrow_carrot-down"></span>
              </div>
              <input type="text" placeholder="Bạn muốn thuê HomeStay ở đâu?" formControlName="name">
              <button type="submit" class="site-btn">TÌM KIẾM</button>
            </form>
          </div>
          <div class="hero__search__phone">
            <div class="hero__search__phone__icon">
              <i class="fa fa-phone"></i>
            </div>
            <div class="hero__search__phone__text">
              <h5>0396355470</h5>
              <span>Hỗ trợ 24/7</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="breadcrumb-section set-bg" [style.background]="'url(../../../assets/static/img/anh1.jpg)'">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <div class="breadcrumb__text">
          <h2>Xác nhận thuê HomeStay thành công</h2>
          <div class="breadcrumb__option">
            <a routerLink="/">Trang chủ</a>
            <span>Xác nhận thuê</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="checkout spad">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h3 style="text-align: center;"><span>Bạn đã xác nhận đặt thuê HomeStay thành công, hãy chờ xác nhận của chủ nhà !!!</span>
        </h3>
        <h4 style="text-align: center;">Cám ơn vì đã chọn dịch vụ của chúng tôi</h4>
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>
