.product__discount__item__pic.set-bg {
  background-size: cover!important;
  background-position: center!important;
  background-repeat: no-repeat!important;
  border-radius: 10px;
}

.owl-carousel .owl-item img {
  border-radius: 10px!important;
}

.categories__item.set-bg {
  background-size: cover!important;
  background-position: center!important;
  background-repeat: no-repeat!important;
  border-radius: 10px!important;
}

